<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Titch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>51FAB1A81D3E9AD000635172</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51FAB1BC1D3E9AD000635172</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51FAB1C71D3E9AD000635172</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
